* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	margin: 0;
	display: grid;
	place-items: center;
	background: #26272c;
}

.skeuo__switch {
	display: none;
}

.skeuo__button {
	width: 20rem;
	background: linear-gradient(90deg, #444650, #101113 100%);
	padding: 2.5rem 4rem 2.5rem 3.5rem;
	border-radius: 10rem;
	box-shadow: inset -6px 0px 54px #212227, inset -42px 0 18px #43454f,
		inset 12px 0 18px #151619;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.2s;
}

.skeuo__circle {
	font-size: 60px;
	color: #5ccc9d;
}

.skeuo__line {
	transform: rotate(90deg);
	font-size: 72px;
	color: #9699a6;
}

.skeuo__switch:checked ~ .skeuo__button {
	background: linear-gradient(90deg, #101113 0%, #444650 100%);
	box-shadow: inset -6px 0 54px #212227, inset -12px 0 18px #151619,
		inset 42px 0 18px #43454f;
	padding: 2.5rem 3.5rem 2.5rem 4rem;
}

.skeuo__switch:checked ~ .skeuo__button .skeuo__circle {
	font-size: 66px;
}

.skeuo__switch:checked ~ .skeuo__button .skeuo__line {
	font-size: 60px;
}
