@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	font-family: Poppins, sans-serif;
	background-color: #f4f9fc;
	color:;
}

#main {
	height: 100%;
	width: 100%;
}

#nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 45px 65px;
}

#nav-part1 {
	display: flex;
	justify-content: space-between;
	width: 40%;
}

#nav-part2 {
	display: flex;
	justify-content: space-between;
	width: 35%;
}

#nav h2 {
	font-size: 25px;
	font-weight: 400;
}

#nav h3 {
	font-size: 25px;
	font-weight: 400;
}

#nav h4 {
	font-size: 25px;
	font-weight: 400;
}

#content {
	padding: 45px 65px;
}

#content h3 {
	font-size: 30px;
	font-weight: 400;
}

#content h1 {
	font-size: 8.5rem;
	font-weight: 500;
	line-height: 150px;
	letter-spacing: -5px;
	word-spacing: 10px;
}

#case {
	padding: 45px 65px;
	margin-top: 150px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#case h4 {
	font-size: 30px;
	font-weight: 400;
}

#case h5 {
	font-size: 30px;
	font-weight: 400;
}

#right {
	display: flex;
	align-items: center;
	gap: 40px;
}

#line {
	height: 2px;
	width: 160px;
	background-color: #000;
}

#projects {
	padding: 45px 65px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 90px;
}

.elem {
	width: 50%;
}

.elem-img {
	height: 770px;
	background-color: rgb(222, 231, 231);
	width: 100%;
	border-radius: 30px;
	background-size: cover;
	background-position: center;
}

#img1 {
	background-image: url("https://cdn.freebiesupply.com/logos/thumbs/2x/sketch-2-logo.png");
}

#img2 {
	background-image: url("https://blog.frame.io/wp-content/uploads/2018/11/dashboard_2400v2.png");
}

.bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px 0;
}

.bottom i {
	padding: 15px 30px;
	color: #000;
	font-size: 20px;
	border: 1px solid black;
	border-radius: 50px;
	transition: all 0.3s ease;
}

.bottom i:hover {
	color: white;
	background-color: black;
}

.bottom h2 {
	font-size: 40px;
	font-weight: 400;
	margin-bottom: 5px;
}

.bottom h4 {
	font-size: 22px;
	color: #969696;
}
